/* CSS files add styling rules to your content */

html, body {
    margin: 0;
    padding: 0;
  }
  
  h1 {
    position: absolute;
    font-family: Zeyada, sans-serif;
    font-weight: 200;
    font-size: 3em;
    color: #101010;
    top: 30%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    margin: 0;
    padding: 0;
    text-align:center;
  }
  
  /* h1:hover{
    cursor: pointer;
  } */
  
  p {
    margin: 0;
    padding: 0;
  }
  
  .a-enter-vr-button {
    display: none;
  }
  
  @media only screen and (max-width: 1000px) {
    
    h1 {
      position: absolute;
      top: 25%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      margin: 0;
      padding: 0;
      text-align:center;
    }  
    
  }
  